@import "tailwindcss";

@font-face {
  font-family: myRegular;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: myMedium;
  src: url(./assets//fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: myBold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

*{
  font-family: myRegular, 'sans-serif';
}

body{
  background-color: hsl(206, 94%, 87%);
}
